* {
  font-family: Playfair Display;
  font-style: normal; 
  font-variant: normal;
}

body {
  background-color:#34252F ;
}

.title#toptitle {
  margin-top: 100px;
  margin-bottom: 0px;
  text-align: center;
  color: #8A9B68; 
}

.title {
  text-align: center;
  color: #677c3b;
  margin-top: 25px;
  margin-bottom: 50px;
}

.aboutme {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0%;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 80px;
    list-style: none;
  }
  
  .aboutright {
    width: 50%;
    height: 30%;
    margin-top: 20px;
    padding: 20px 20px 20px 0px;
    line-height: 30px;
    text-align: left;
    background: #34252F;
    color: #D5DDBC;
  }
  .aboutleft {
    width: 30%;
    height: 30%;
    margin-top: 20px;
    padding: 20px 0px 20px 20px;
  }

  body {
    margin: 40px;
  }
  
  .workimgblock {
    background-color: #8A9B68;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    height:200px;
  }
  
  .workdesc {
    background-color: #4F5D32;
    color: #D5DDBC;
    border-radius: 5px;
    padding: 20px;
    font-size: 130%;
    line-height: 0px; 
    height:120px;
  }

  .workdesc a {
    color: #D5DDBC;
  }

  .workdesc a:nth-child(even) {
    color: #4F5D32;
  }

  .workdesc a:hover {
    color:#34252F;
    font-size:larger;    
  }

  .workdesc h6 {
    font-weight: 10;
    line-height:20px;
  }
  
  .workimgblock:nth-child(even) {
    background-color: #4F5D32;
    color: #000;
  }

  .workdesc:nth-child(even) {
    background-color: #8A9B68;
    color: #34252F;
  }
  
  .workgrid {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(4, 23%);
    margin-bottom: 2em;
    height: 400px;
  }

  .imgbox {
    width: 100%;
    height: 100%;
  }

  .imgbox:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  .imgfull {
    object-fit: cover;
  }

  .contact {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    font-size: 110%; 
  }

  .contact label {
    color:  #D5DDBC; 
  }

  #visitButton {
    margin-top: 30px;
    background-color: #34252F; 
    color: #8A9B68;
    margin-left: 45%;  
  }


  
